[class~="Rakunians"] {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    color: black;
}

nav {
    background-color: #d0e9ee;
    height: 50%;
}

#RakuniansIMG {
    height: 50px;
}

td img {
    height: 30px;
}
