.ventas th {
    width: 5%;
}
.ventas td:first-of-type {
    width: 15%;
}
.ventas td:last-of-type {
    width: 25%;
}
.ventas img {
    width: 200px;
}
.table:nth-of-type(odd) {
    background-color: rgb(242, 242, 242);
}
th p {
    text-align: center;
    padding: 0;
}
.usuario {
    margin: 0px;
}
.table-condensed tr {
    height: 10px;
}
table td p{
    vertical-align: middle; 
}
[class~="Rakunians"] {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    color: black;
}

nav {
    background-color: #d0e9ee;
    height: 50%;
}

#RakuniansIMG {
    height: 50px;
}

td img {
    height: 30px;
}