div.foto-perfil {
    position: absolute;
    top: 15%;
    right: 10%;
    display: flex;
    align-items: flex-start;
}
img {
    height: 250px;
}
.ediciones {
    width: 50%;
}
.ediciones button {
    /* text-align: left; */
    width: 50%;
    margin: 1%;
}

[class~="Rakunians"] {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    color: black;
}

nav {
    background-color: #d0e9ee;
    height: 50%;
}

#RakuniansIMG {
    height: 50px;
}
